<section id="firmaSide" class="kort skjult">
      <h2>Firma</h2>

      <label for="firmaNavn">Firmanavn</label>
      <input id="firmaNavn">

      <label for="firmaAdresse">Adresse</label>
      <input id="firmaAdresse">

      <label for="firmaEpost">E-post</label>
      <input id="firmaEpost">

      <label for="firmaKontonr">Kontonr</label>
      <input id="firmaKontonr">

      <label for="firmaVippsNummer">Vippsnummer</label>
      <input id="firmaVippsNummer">

      <label for="firmaVippsMottaker">Vipps mottaker</label>
      <input id="firmaVippsMottaker">

      <label for="firmaBrevhode">Brevhode</label>
      <textarea id="firmaBrevhode" placeholder="Tekst &#248;verst p&#229; faktura / PDF"></textarea>

      <label for="firmaBrevfot">Brevfot / brevhale</label>
      <textarea id="firmaBrevfot" placeholder="Tekst nederst p&#229; faktura / PDF"></textarea>

      <label for="firmaOrgNr">Org nr</label>
      <input id="firmaOrgNr">

      <label for="firmaMvaNr">MVA nr</label>
      <input id="firmaMvaNr">

      <label for="firmaLogo">Logo</label>
      <input id="firmaLogo" type="file" accept="image/*">

      <button id="lagreFirmaKnapp" type="button">Lagre firma</button>
      <button id="tilbakeFraFirmaKnapp" type="button" class="secondary">Tilbake</button>

      <div id="firmaMelding" class="melding"></div>
    </section>