
  <section id="loginSide" class="kort">
    <h1>Timeregistrering</h1>

    <label for="loginEpost">E-post</label>
    <input id="loginEpost" type="email" autocomplete="username">

    <label for="loginPassord">Passord</label>
    <input id="loginPassord" type="password" autocomplete="current-password">

    <label>
      <input id="loginSomAdmin" type="checkbox" style="width:auto;">
      Logg inn som admin
    </label>

    <button id="loginKnapp" type="button">Logg inn</button>
<button id="glemtPassordKnapp" type="button" class="secondary">Glemt passord</button>

    <div id="loginMelding" class="melding"></div>
  </section>

  

  <section id="nyttPassordSide" class="kort skjult">
    <h2>Nytt passord</h2>

    <label for="nyttPassord">Nytt passord</label>
    <input id="nyttPassord" type="password">

    <label for="gjentaNyttPassord">Gjenta nytt passord</label>
    <input id="gjentaNyttPassord" type="password">

    <button id="lagreNyttPassordKnapp" type="button">Lagre nytt passord</button>
    <button id="tilbakeTilLoginKnapp" type="button" class="secondary">Tilbake</button>

    <div id="nyttPassordMelding" class="melding"></div>
  </section>

  