<section id="testSide" class="admin-only kort skjult">
      <h2>Testpanel</h2>

      <button id="testFakturaProsjektGrupperingKnapp" type="button" onclick="testFakturaProsjektGruppering()">Test faktura per prosjekt</button>
      <button id="kjorHelsetestKnapp" type="button">Kj&#248;r helsetest</button>
      <button id="kjorStresstestKnapp" type="button">Kj&#248;r stresstest</button>
      <button id="testDobbeltregistreringKnapp" type="button">Test dobbeltregistrering</button>
      <button id="testBlankLagringKnapp" type="button">Test blank lagring</button>
      <button id="testLonnKnapp" type="button">Test l&#248;nn</button>
      <button id="testFakturaGrunnlagKnapp" type="button">Test fakturagrunnlag</button>
      <button id="testMvaKnapp" type="button">Test MVA</button>
      <button id="testFakturaSperreKnapp" type="button">Test fakturasperre</button>
      <button id="testMvaSperreKnapp" type="button">Test MVA-sperre</button>
      <button id="testRettigheterKnapp" type="button">Test rettigheter</button>
      <button id="lagStresstestFakturaKnapp" type="button">Lag stresstest faktura</button>
<button id="slettKunTestdataKnapp" type="button" class="danger">Slett kun testdata</button>

      <div id="testMelding"></div>
    </section>